form {
    margin-left: 14em;
    margin-right: 14em;
    margin-top: 4em;
    margin-bottom: 6em;
    padding: 2em;
    border-radius: 1em;
    
    background-color: #99d6e4;
}

p[id="massage"] {
   
    font-size: 2em;
    margin-right: 14em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    font-family: 'PoetsenOne', sans-serif;
    color: white;
    
}

input[class="box"], textarea[class="box"]{

border-radius: 1em;
margin: 1em;
padding: 1em;
font-size: 1.2em;
font-family: 'PoetsenOne', sans-serif;
color: black;
}

/* Image tinted to same color */
img[alt="guyonPhone"] {
   float: left;
  padding: 20px;
  width: 50%;

}
 .form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em; /* small gap between form and image */
}

.form-fields {
  flex: 1;
}

.form-image img {
  width: 450px;   /* larger image */
  height: auto;
  border-radius: 1em;
  margin-left: 0; /* move closer to form */
  transform: translateX(-40px); /* shifts image slightly left */
}
