header {
        background-image: url(../images/main.png);
    background-color: #2E1B11;
    background-repeat: no-repeat;   /* ✅ stop repeating */
    background-size: cover;         /* ✅ make it fill the header area */
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 180px;   

    height: 100%;
}

nav {
    display: inline-flex;

    justify-content: space-around;
    align-items: center;
}

nav a {
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 40px; /* Smaller padding for links */
    border: 2px solid #ED4749;
    border-radius: 8px;
    background-image: radial-gradient(#E5CBB8, #DA8080);
    margin: 35px;
    text-align: center;
}

h1[id="mainManu"] {
    padding: 20px 40px; /* Larger padding for the h1 box */
    border: 4px solid #ED4749; /* Thicker border for the h1 box */
    border-radius: 12px; /* Slightly more rounded corners */
    background-image: radial-gradient(#E5CBB8, #DA8080);
    margin: 5px;
    font-size: 1.8em; /* Larger font size for the h1 text */
}

  .footer {
    background-image: linear-gradient(to top right, #2E9CB4, #46C7E2,#EAEEEF);
    padding: 20px;
  color: white;
  font-family: Georgia, serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* responsive for smaller screens */
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
  margin-left: 12%;
  font-size: large;
}

.footer-left .slogan {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-left h3,
.footer-middle h3 {
  margin-bottom: 10px;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
}

.footer-middle .icon {
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.profile-pic {
  width: 100px;
  border-radius: 8px;
  object-fit: cover;
}